/* =============== COMMON CSS FOR WEB SITE =============== */

.Landing__26 {
    font-family: 'Noto Serif Bengali', serif;
    list-style-type: none;
    overflow-x: hidden ;
  }

  .Landing__26 ul{
    padding: 0;
    list-style: none;
  }
  
  .Landing__26 h1{
      font-size: 70px;
      line-height: 95px;
      color:#FFF;
      font-weight: 900;
      padding-top: 50px;
      padding-bottom: 30px;
      
  }

  .Landing__26 h1 span{
      color:#FFD626;
  }


  .Landing__26 h2{
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    font-weight: 600;
  }
  
  .Landing__26 p{
    font-size: 24px;
    line-height: 30px;
    color:#6B6B6B;
  }
  
  
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
           
.Landing__26 .bg {
    transition: 0.5s;
    display: block;
    line-height: 35px;
    font-weight: 600;
    text-decoration: none;
}

.Landing__26 a.bg{
    position: relative;
    padding: 24px 30px;
    color:#FFF; 
    background-image: linear-gradient(to right,#E41320 0%,#E41320 51%, #E41320 100%);
    background-size: 180% auto;
    display: inline-block;
    transition: .2s;
    font-weight: 600;
    border-radius: 100px;
    font-size: 30px;
    line-height: 55px;

  }


.Landing__26 a.bg svg{
    font-size: 40px;
    margin-top: -5px;
    margin-right: 10px;
    color: #FFF; 
}


.Landing__26 a.bg:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
 
.Landing__26 a.bg:hover svg {
    color: #fff;      
}
 
  .Landing__26__section_gaps{
      margin-top: 100px;
  }
 

/* ================================================================================================
Navbar
===================================================================================================*/

.Landing__26 .menubar_MenubarContent__jlW_b .menubar_LogoLeft__F_zxD {
    text-align: left;
    margin-top: 20px;
    position: absolute;
    z-index: 2;
}
  
/* ================================================================================================
            Banner
  ===================================================================================================*/
  .Landing__26__Banner {
    height: 100vh;
    position: relative;
}

.Landing__26__Banner__bg {
    width: 100%;
    height: 100%;
}

.Landing__26__Banner__Content {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    z-index: 5;
}

.Landing__26__Banner__Content h5 {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #FDFDFD;
    margin-top: -50px;
}

.Landing__26__Banner__Content h2 {
    color:#E41320;
    text-align: left;
}

.Landing__26__Banner__TextImg{
    height: 68px;
}


.Landing__26__Banner__Content h2 span {
    color:#FDFDFD;
    margin-left: 15px;
    text-decoration: line-through;
    font-size: 24px;
}

.Landing__26__BannerImgwhite{
    margin-top: -10px;
    margin-bottom: 40px;
}

.Landing__26__RelText{
    position: relative;
}

.Landing__26__AbsB_Box{
    position: absolute;
    top:-80px;
    left:300px;
}

.Landing__26__AbsB_Box span{
    color: #E41320;
    font-size: 18px;
    line-height: 23px;
}

.Landing__26__AbsB_Box h6{
    color: #FDFDFD;
    font-size: 40px;
    line-height: 46px;
}

/* Col-2-------------- */


.Landing__26__Banner__Img {
    position: relative;
}
.Landing__26__Banner__Img1 {
    width: 140%;
}

.Landing__26__Banner__Img2 {
    position: absolute;
    top: 0;
    right: -200px;
    height: 235px;
}

.Landing__26__Banner__Img3 {
    position: absolute;
    bottom: -100px;
    left:300px;
    height: 191px;
}


.Landing__26__Banner__bg__bottom{
    position: absolute;
    z-index: 3 ;
    bottom: 0;
    width: 100%;
}

.Landing__26__Banner__bg__bottom1{
    width: 100%;
    height: 305px;
}

.Landing__26__Banner__bg__bottom ul {
    display: flex;
    align-items: center;
    margin-top: -50px;
    justify-content: center;
}
.Landing__26__Banner__bg__bottom ul li{
    font-size: 24px;
    color:#FDFDFD;
    margin-right: 75px;
    text-align: center;
}


  
/* ================================================================================================
             Details
  ===================================================================================================*/
  .Landing__26__Details{
    color:#1F1214;
    text-align: center;
  }

  .Landing__26__Details p{
    padding: 0 10%;
    text-align: center;
    margin-bottom: 40px;
  }

  .Landing__26__DetailsDiv{
    text-align: center;
  }

.Landing__26__DetailsDiv div{
    width: 10px;
    height:10px;
    border-radius: 100px;
    background-color: #E41320;
  }

.Landing__26__DetailsDiv div{
    width: 10px;
    height:10px;
    border-radius: 100px;
    background-color: #E41320;
    margin:20px 4px 20px 4px;
  }

.Landing__26__DetailsDiv {
    display: flex;
    justify-content: center;
  }

  .Landing__26__DetailsDiv .Landing__26__DetailsDiv2{
    background-color:#13131B;
  }

  .Landing__26__DetailsImgRelDiv{
    position: relative;
    display: flex;
    justify-content: center;
  }

.Landing__26__DetailsImg{
    position: absolute;
    width: 50%;
    z-index: 3;
}


/* ================================================================================================
            Banner
  ===================================================================================================*/

  .Landing__26__ListDetails{
    position: relative;
    margin-top: 450px;
}

.Landing__26__ListDetails__bg{
    width: 100%;
}

.Landing__26__Contant__Box{
    position: absolute;
    width: 100%;
    top: 190px;
    z-index: 3;
}

.Landing__26__Contant__Ul {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.Landing__26__Contant__Ul div{
    font-size: 32px;
    line-height: 42px;
    padding: 14px 46px;
    background:#C30B17;
    margin-right: 30px;
    border-radius: 50px;
}

.Landing__26__Contant__Ul2{
    margin-top: 30px;
}

 /* ================================================================================================
            Contant2
  ===================================================================================================*/

.Landing__26__Contant2ColDiv{
    margin-top: 190px;
}

.Landing__26__Contant2ColDiv h2{
    text-align: left;
    color:#FDFDFD;
}

.Landing__26__DetailsDiv2{
    justify-content: left;
  }

.Landing__26__DetailsDiv .Landing__26__DetailsDiv3{
    background:#FFF ;
  }

.Landing__26__Contant2ColDiv ul li{
    display: flex;
    color:#FDFDFD;
    font-size: 20px;
    margin-bottom: 30px;
}

.Landing__26__Contant2ColDiv ul li img{
    margin-bottom: auto;
    margin-right: 20px;
}

.Landing__26__DetailsImgDiv{
    position: relative;
}

.Landing__26__DetailsImg1{
    position: absolute;
    margin-top: 300px;
}
.Landing__26__DetailsImg2{
    position: absolute;
    margin-top: 350px;
    margin-left: 450px;
}

/* ================================================================================================
            Order 2
  ===================================================================================================*/

  .Landing__26 .Landing__26__Order2 {
    display:flex ;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }

 .Landing__26 .Landing__26__Order2Img{
    height: 660px;
  }

  .Landing__26__Order2Abs{
      position: absolute;
      text-align: center;
  }

  .Landing__26__Order2Abs h4{
      font-size: 51px;
      line-height: 69px;
      color:#E41320;
      font-weight: 900;
  }

  .Landing__26__Order2Abs h5{
      font-size: 32px;
      line-height: 42px;
      color:#E41320;
      margin: 30px 0px;
  }


/* ================================================================================================
            Video
  ===================================================================================================*/

  .Landing__26__videoTxtDiv{
    text-align: center;
    margin-top: 94px;
  }

  .Landing__26__videoTxtDiv p{
        color:#1F1214;
        margin-bottom: 10px;
  }

  .Landing__26__videoTxtDiv h3{
    font-size: 60px;
    color:#E41320;
    font-weight: 900;
  }



/* ================================================================================================
            All Details
  ===================================================================================================*/

.Landing__26__AllDSec{
    position: relative;
    
}

.Landing__26__AllD__ImgBG{
    width: 100%;
}

.Landing__26__AllDSecRel{
    position: relative;
}

.Landing__26__AllContantDiv{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    z-index: 5;

}

.Landing__26__AllContantDiv h2{
    color: #E41320;
}

.Landing__26__AllContantDiv2 {
    margin-bottom: 50px;
}

.Landing__26__AllContantImgDiv{
    position: relative;
    width: 100%;
}

.Landing__26__AllContantImg{
    width: 100%;
    position: absolute;
}

.Landing__26__AllContantImgDiv .Landing__26__AllContantAbs2{
    position: absolute;
    padding: 50px 0px;
}

.Landing__26__AllContantAbs2{
    width: 100%;
}

.Landing__26__AllContantImg2Div{
    text-align: center;
}

.Landing__26__Contant2ColDiv2 ul li{
    display: flex;
    color:#FDFDFD;
    font-size: 20px;
    margin-bottom: 30px;
}

.Landing__26__Contant2ColDiv2 ul li img{
    margin-bottom: auto;
    margin-right: 20px;
}


/* ================================================================================================
            Img Group
  ===================================================================================================*/
.Landing__26__ImgGroup1{
    display: flex;
    justify-content: space-between;
}

.Landing__26__ImgGroup2{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.Landing__26__ImgGroup1 img{
    width: 100%;
    margin-right: 15px;
}

.Landing__26__ImgGroup2 img{
    width: 100%;
    margin-right: 15px;
}

/* ================================================================================================
            Banner
  ===================================================================================================*/
.Landing__26__CardSec{
    position: relative ;
}

.Landing__26__CardSecImg{
    width:100%;
    object-fit: cover;
}

.Landing__26__CardContantDiv{
    top: 0;
    left:0;
    position: absolute;
    justify-content: center;
    padding: 100px 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.Landing__26__CardContantDiv h2{
    color:#FDFDFD;
}

.Landing__26__DetailsDiv3{
    justify-content: center;
}

.Landing__26__CardDiv{
    display: flex;
    justify-content: space-between;
    
}

.Landing__26__CardDiv div{
    margin-right: 30px;
}

.Landing__26__CardTxt{
    padding: 34px 25px;
    background-color: #fff;
    border-radius: 5px;
}

.Landing__26__CardTxt h4{
    font-size: 28px;
    color:#000000;
    margin-bottom: 20px;
    font-weight: 700;
}

.Landing__26__CardTxt p{
    color:#6E6E6E;
    font-size: 18px;
}

.Landing__26__Card{
    display: flex;
    align-items: center;
}

/* Card2 */

.Landing__26__CardDiv2{
    justify-content: center;
    margin-top: 22px;
    padding: 0 15%;
}


/* ================================================================================================
           Card3
  ===================================================================================================*/
  
  .Landing__26 .Landing__26__Order3 {
    display:flex ;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }

  .Landing__26 .Landing__26__Order3Img{
    height: 639px;

  }

  .Landing__26__Order3Abs{
      position: absolute;
      text-align: center;
  }

  .Landing__26__Order3Abs h4{
      font-size: 51px;
      line-height: 69px;
      color:#E41320;
      font-weight: 900;
      margin-top: 50px;
  }

  .Landing__26__Order3Abs h5{
      font-size: 32px;
      line-height: 42px;
      color:#E41320;
      margin: 30px 0px;
      font-weight: 700;
      margin-bottom: 70px;
  }

  .Landing__26__Order3Abs .bg2{
    background-image:none !important;
    margin-left: -100px;
  }


/* ================================================================================================
            Place in order +  Footer
  ===================================================================================================*/
  
  .Landing__26__FooterSec{
    position: relative;
  }

  .Landing__26__FooterImg{
    width:100%
  }

  .Landing__26__FooterContentDiv{
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
  }

  .Landing__26 .order_OrderConfirmFrom__ThtXd {
    background-image: url('../../public/images/landing-26/bg4.png');
    background-size: cover;
    padding: 100px 30px !important;
    color:#E41320;
}



.Landing__26 .order_OrderConfirmLeft__uVx3z .order_Payment__SoQ0N .order_ArrowBg__Rpfa0 {
    background:#E41320;
  }
  
.Landing__26 .order_OrderConfirmRight__DSDPT button {
    background:#E41320;
  }
  
.Landing__26 .order_OrderConfirmLeft__uVx3z .order_Payment__SoQ0N .order_ArrowBg__Rpfa0 p {
    color: #ffffff;
  }
  .Landing__26 .order_OrderConfirmLeft__uVx3z .order_Payment__SoQ0N .order_ArrowBg__Rpfa0::after {
    border-bottom:15px solid  #E41320;
    } 
    
.Landing__26 .order_OrderConfirmLeft__uVx3z .order_Payment__SoQ0N .order_CustomeInput__NQVsd input:checked+label:before {
    background:#E41320;
  }
  
  .Landing__26 .order_OrderConfirmLeft__uVx3z .order_CustomeInput__NQVsd input {
    border: 1px solid #E41320;
}

.Landing__26 .order_OrderConfirmRight__DSDPT ul h5 {
    color: #E41320;
}

.Landing__26 .order_OrderConfirmRight__DSDPT ul .order_left__tYuKG p {
    color: #E41320;
}


/* ================================================================================================
            Footer
  ===================================================================================================*/
  
  .Landing__26__FooterDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color:#FDFDFD;
  }

  .Landing__26__FooterDiv h5 a{
    color:#FDFDFD;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .Landing__26__FooterDiv h5 {
    margin-bottom: 15px;
  }

  .Landing__26__FooterDiv h4{
    color:#FDFDFD;
    font-size: 24px;
    padding-bottom: 10px;
  }

  .Landing__26__Hr{
    width: 100px;
    height: 1px;
    background: #FDFDFD;
    margin-bottom: 10px;
  }

  .Landing__26__FooterDiv h3{
    color:#FDFDFD;
    font-size: 30px;
  }

  .Landing__26__FooterDiv img{
    height: 151px;
  }

  .Landing__26__Hr2{
    width: 100%;
    height: 1px;
    background:#FDFDFD ;
    margin: 40px 0px;
  }

  .Landing__26 .tiny-footer_tinyFooter__Tr3b1 p {
    color: #FDFDFD ;
}
  .Landing__26 .tiny-footer_tinyFooter__Tr3b1 p a{
    color: #E41320 ;
}

/* ================================================================================================
            Media Quari
  ===================================================================================================*/
  
   
 @media (max-width: 1741px) {


 }
 
  @media (max-width: 1400px) {
    .Landing__26__Banner__Img1 {
        width: 100%;
    }
 
    .Landing__26 h1 {
        font-size: 44px;
        line-height: 57px;
        padding-top: 24px;
        padding-bottom: 8px;
    }

    .Landing__26__Banner__Content h5 {
        font-size: 24px;
        line-height: 44px;
    }

    .Landing__26__Banner__TextImg{
        height: 50px;
    }

 }
 
 
 @media (max-width: 1280px) {
 
 
 }
 
 @media (max-width: 991px) {
 
 
 }
 
 
 @media (max-width: 767px) {
 
 
 }
 
 
 @media (max-width: 575px) {
 
    
     }
 
 @media (max-width: 450px) {
 
    
     }