
/* =============== COMMON CSS FOR WEB SITE =============== */

.Landing__18 {
    font-family: 'Noto Serif Bengali', serif;
    list-style-type: none;
    overflow-x: hidden;
  }

.Landing__18 ul{
    padding: 0;
    list-style: none;
  }
  
  .Landing__18 h1{
      font-size: 55px;
      line-height: 75px;
      color:#1D4696;
      font-weight: 900;
      padding-top: 46px;
      padding-bottom: 35px;
  }

  .Landing__18 h2{
      font-size: 40px;
      line-height: 52px;
      color: #0B1B38;
      font-weight: 900;     
      text-align: center;
  }
  
  .Landing__18 p{
      color:#575757;
      font-size: 20px;
      line-height: 26px;
  }
  
  /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
           
  .Landing__18 .bg {
      transition: 0.5s;
      display: block;
      line-height: 35px;
      font-weight: 600;
      text-decoration: none;
     
  }
  
  .Landing__18 a.bg{
      padding: 24px 36px;
      color: #FFFFFF; 
      background-image: linear-gradient(to right,#FA3B61 0%, #1D4696 51%, #FA3B61 100%);
      background-size: 180% auto;
      display: inline-block;
      transition: .2s;
      font-weight: 600;
      border-radius: 10px;
      font-size: 24px;
    }

  
  .Landing__18 a.bg svg{
      font-size: 28px;
      margin-top: -5px;
      margin-right: 10px;
      color: #FFFFFF; 
  }
  
  .Landing__18 a.bg:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
  }
   
  .Landing__18_section_gaps{
      padding-top: 100px;
  }
 

  /* ================================================================================================
            Banner
  ===================================================================================================*/

  .Landing__18__bg_div{
    background-image: url('../../public/images/landing-18/bg.png');
    padding: 50px 0px 250px 0px;
    background-size:cover;
  
}

.Landing__18__BannerTxt h4{
    font-size: 24px;
    color:#1D4696;
    
}

.Landing__18__BannerTxt h3{
    font-size: 48px;
    line-height: 74px;
    color:#FA3B61;
    font-weight: 900;
    padding-top: 35px;
    padding-bottom: 56px;
    
}
  
.Landing__18__RelText{
    position: relative;
    
}

.Landing__18__AbsB_Box{
    position: absolute;
    top:-80px;
    left: 300px;
    display: flex;
    border: 1px solid #1D4696;
    padding: 16px 20px;
    border-radius: 10px;
  }

.Landing__18__BannerTxt h5{
   font-size: 32px;
   color:#1D4696;
  }

 .Landing__18__AbsB_Box img{
    margin-right: 20px;
    width: 40px;
  
  }


/* Col--2 */

.Landing__18__Col_2Rel{
    position: relative;
}

.Landing__18__img1DisAbs{
    position: absolute;
    top:-110px;
    left:550px;
    width: 38%;
    z-index: 2;
}

.Landing__18__img2BagAbs{
    position: absolute;
    top:230px;
    left:100px;
    width: 105%;
}


 /* ================================================================================================
          Shipping
  ===================================================================================================*/

  .Landing__18__ShippingDiv{
    margin-top: -50px;
    border-radius: 10px;
}


.Landing__18 .shipping-address_ShippingAddressItem__nZd0I p {
  color:#012A4A;
  margin-top: 10px;
  font-weight: 600;
}


.Landing__18 .shipping-address_ShippingAddressItem__nZd0I {
  background-color: #FFEBEF;
  padding-top: 50px;
  padding-bottom: 50px;
}



.Landing__18 .shipping-address_ShippingAddressItem__nZd0I:hover {
  background-color:#1D4696;
}


    /* ================================================================================================
            Requirement
  ===================================================================================================*/

  .Landing__18__RelImgDiv{
    position: relative;
  }

.Landing__18__ImgAbsR1{
  position: absolute;
  width: 140%;
  left:-200px;
  top:-100px;
}

.Landing__18__ImgAbsR2{
  position: absolute;
  width: 65%; 
  left:-30px;
  top:150px;
}

.Landing__18__ReqTxt h2{
  padding-bottom: 40px;
  text-align: left;
}

.Landing__18__ReqTxt h4{
  font-size: 32px;
  line-height: 48px;
  color:#FA3B61;
  padding-bottom: 18px;
  font-weight: 900;
}

.Landing__18__ReqTxt ul li p{
 display: inline;
}

.Landing__18__ReqTxt ul li img{
  width: 20px;
  margin-right: 15px;
}

.Landing__18__ReqTxt ul li {
  margin-bottom: 30px;
}

.Landing__18__Rel1{
  position: relative;
}

.Landing__18__Abs1{
  position: absolute;
  left: 0;
  bottom: -200px;
}

.Landing__18__Abs2{
  position: absolute;
  right: 100px;
  bottom: -50px;
}

    /* ================================================================================================
            Card
  ===================================================================================================*/

  .Landing__18__Card {
   background-color: #1D4696;
   padding: 85px 50px;
   outline: 1px dashed #4E82E8;
   outline-offset: -18px;
   position: relative;
   margin-bottom: 30px;
   margin-right: 5px; 
}

.Landing__18__Card h3{
    font-size: 32px;
    line-height: 42px;
    color:#FFFFFF;
}

.Landing__18__Card p{
    color:#FFFFFF;
    padding-top: 16px;
}

.Landing__18__CardAbs1{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
}

.Landing__18 .Landing__18__CardH2{
  padding-bottom: 46px;
}


  /* ================================================================================================
             Circle
  ===================================================================================================*/

  .Landing__18__CircleDiv{
      position: relative;
      display:flex ;
      justify-content: center;
      align-items: center;
      margin-top: 500px;
      margin-bottom: 500px;
  }

  .Landing__18__CircleDiv h4{
    font-size: 28px;
    line-height: 36px;
    color:#FFFFFF;
    text-align: center;
  }

.Landing__18__CircleImg1{
    position: absolute;
    width: 72%;
}

.Landing__18__CircleImg2{
  position: absolute;
  margin-top: -100px;
  width: 26%;
}

.Landing__18__CircleTxt1{
    position: absolute;
    top:-230px;
    left:260px;
}

.Landing__18__CircleTxt2{
    position: absolute;
    top:-440px;
    left:590px;
}

.Landing__18__CircleTxt3{
    position: absolute;
    top:-230px;
    right:240px;
}

.Landing__18__CircleTxt4{
    position: absolute;
    bottom:-230px;
    right:270px;
}

.Landing__18__CircleTxt5{
    position: absolute;
    bottom:-422px;
}


.Landing__18__CircleTxt6{
    position: absolute;
    bottom:-240px;
    left:290px;
}



  /* ================================================================================================
             OrderTem-1
  ===================================================================================================*/
 
  .Landing__18 .Landing__18__Order2 {
    display:flex ;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }

  .Landing__18 .Landing__18__Order2 img{
    height: 525px;

  }

  .Landing__18__Order2Abs{
      position: absolute;
      text-align: center;
  }

  .Landing__18__Order2Abs h4{
      font-size: 51px;
      line-height: 69px;
      color:#1D4696;
      font-weight: 900;
  }

  .Landing__18__Order2Abs h5{
      font-size: 32px;
      line-height: 42px;
      color:#1D4696;
      margin: 30px 0px;

  }


    /* ================================================================================================
            Slider
  ===================================================================================================*/

.Landing__18__SliderSec{
  background-image: url('../../public/images/landing-18/bg2.png');
  padding:  72px 0px 65px 0px;
}

.Landing__18__Slider_CardDiv{
  position: relative;
  text-align: center;
  background-color:#1D4696;
  padding: 24px;
}

.Landing__18__Slider_CardDivImg{
  width: 100%;
}

.Landing__18__Slider_CardDiv h4{
  font-size: 32px;
  line-height: 42px;
  color:#FFF;
  padding: 70px 0px 56px 0px;
}

.Landing__18__SliderAbs1{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 28%;
}
.Landing__18__SliderAbs2{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 28%;
}

.Landing__18__SliderImgL{
    margin-top: 70px;
}


.Landing__18__SliderIconDiv{
  display: flex;
  align-items: end;
  justify-content: end;
}

.Landing__18__SliderIconDiv2{
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 28px 20px ;
  background-color: #fff;
  margin-top: -50px;
  border-radius: 100px;
  margin-right: -50px;

}

.Landing__18__SliderIcon1{
  background: none;
  font-size: 28px;
  color:#1D4696;
  margin-right: 10px !important;
}

.Landing__18__SliderIcon2{
  background: none;
  font-size: 28px;
  color:#1D4696;
}

  /* ================================================================================================
            Plasce In Order
  ===================================================================================================*/
  
  .Landing__18 .order_OrderConfirmLeft__uVx3z .order_Payment__SoQ0N .order_ArrowBg__Rpfa0 {
    background:#1D4696;
  }
  
  .Landing__18 .order_OrderConfirmRight__DSDPT button {
    background: #1D4696;
  }
  
  .Landing__18 .order_OrderConfirmLeft__uVx3z .order_Payment__SoQ0N .order_ArrowBg__Rpfa0 p {
    color: #ffffff;
  }
  
  .Landing__18 .order_OrderConfirmLeft__uVx3z .order_Payment__SoQ0N .order_ArrowBg__Rpfa0::after {
    border-bottom: solid 15px #1D4696;
  }
  
  .Landing__18 .order_OrderConfirmLeft__uVx3z .order_Payment__SoQ0N .order_CustomeInput__NQVsd input:checked+label:before {
    background: #1D4696;
  }


/* ================================================================================================
             Order 3
  ===================================================================================================*/
  
  .Landing__18 .Landing__18__Order3 {
    display:flex ;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin-bottom: -200px;
  }

  .Landing__18 .Landing__18__Order3 img{
    height: 525px;

  }

  .Landing__18__Order3Abs{
      position: absolute;
      text-align: center;
  }

  .Landing__18__Order3Abs h4{
      font-size: 51px;
      line-height: 69px;
      color:#FFFFFF;
      font-weight: 900;
  }

  .Landing__18__Order3Abs h5{
      font-size: 32px;
      line-height: 42px;
      color:#FFFFFF;
      margin: 30px 0px;

  }


  /* ================================================================================================
            Footer
  ===================================================================================================*/
    .Landing__18__FooterDiv{
      background-image: url('../../public/images/landing-18/bg3.png');
      padding: 200px 0px 50px 0px;
      background-size: cover;
    }



    .Landing__18__FooterBgRow_Div{
      padding: 0px 170px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius:  50px 0px 50px 0px;
  }
  
  .Landing__18__FooterBgRow_Div h4{
      color:#000000;;
      font-size: 24px;
      line-height: 32px;
     
  }
  
  .Landing__18__FooterBgRow_Div h3{
      color:#FFFFFF;
      font-size: 30px;
      line-height: 42px;
      padding-top: 10px;
  }
  
  .Landing__18__FooterBgRow_Div a{
      color:#FA3B61;;
      font-size: 18px;
      line-height: 32px;
  }
  
   .Landing__18__FooterHr{
      border-bottom: 1px solid #ffffff;
      background-color: #000;
      width: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  
  .Landing__18 .Landing__18__FooterH3{
    color:#ffffff;
  }
  
  .Landing__18_socialMidia{
    padding-top: 121px;
  
  }
  
  /* Tiney Footer */
  
  .Landing__18 .tiny-footer_tinyFooter__Tr3b1 p {
    line-height: 40px;
    text-align: center;
    color:#FFF;
    font-size: 18px;
  }
  
  .Landing__18 .tiny-footer_tinyFooter__Tr3b1 p a {
    display: inline;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    padding: 0 5px;
  }

  .Landing__18__Abs3{
    position: absolute;
    left: 100px;
    bottom: 100px;
  }

  .Landing__18__Abs4{
    position: absolute;
   right: 100px;
    bottom: 100px;
  }
    /* ================================================================================================
            Media Quary
  ===================================================================================================*/

 
  @media (max-width: 1650px) {

    .Landing__18 h1 {
      font-size: 44px;
      line-height: 52px;
      color: #1D4696;
      font-weight: 900;
      padding-top: 40px;
      padding-bottom: 22px;
  }

  .Landing__18__BannerTxt h4 {
    font-size: 20px;
    color: #1D4696;
}

.Landing__18__BannerTxt h3 {
  font-size: 40px;
  line-height: 52px;
  color: #FA3B61;
  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 25px;
}

.Landing__18__bg_div {
  padding: 50px 0px 211px 0px;
  background-size: cover;
}

.Landing__18__img2BagAbs {
  position: absolute;
  top: 97px;
  left: 100px;
  width: 97%;
}

.Landing__18__img1DisAbs {
  position: absolute;
  top: -148px;
  left: 418px;
  width: 33%;
  z-index: 2;
}

.Landing__18__img1DisAbs {
  position: absolute;
  top: -148px;
  left: 478px;
  width: 30%;
  z-index: 2;
}

  }
  

   @media (max-width: 1400px) {
  
    .Landing__18 h1 {
      font-size: 44px;
      line-height: 52px;
      color: #1D4696;
      font-weight: 900;
      padding-top: 40px;
      padding-bottom: 22px;
  }

  .Landing__18__BannerTxt h4 {
    font-size: 20px;
    color: #1D4696;
}

.Landing__18__BannerTxt h3 {
  font-size: 40px;
  line-height: 52px;
  color: #FA3B61;
  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 25px;
}

.Landing__18__bg_div {
  padding: 50px 0px 142px 0px;
  background-size: cover;
}

.Landing__18__img2BagAbs {
  position: absolute;
  top: 97px;
  left: 100px;
  width: 97%;
}

.Landing__18__img1DisAbs {
  position: absolute;
  top: -148px;
  left: 418px;
  width: 33%;
  z-index: 2;
}

  }
  
  
  @media (max-width: 1280px) {
  
  
  }
  
  @media (max-width: 991px) {
  
  
  }
  
  
  @media (max-width: 767px) {
  
  
  }
  
  
  @media (max-width: 575px) {
  
     
      }



