
/* =============== COMMON CSS FOR WEB SITE =============== */

.Landing__17 {
    font-family: 'Noto Serif Bengali', serif;
    list-style-type: none;
    overflow-x: hidden;
  
  }

.Landing__17 ul{
    padding: 0;
    list-style: none;
  }
  
  .Landing__17 h1{
      font-size: 55px;
      line-height: 81px;
      color:#012A4A;
      font-weight: 900;
      padding-top: 20px;
      padding-bottom: 25px;
  }

  .Landing__17 h2{
      font-size: 44px;
      line-height: 60px;
      color: #003B60;
      font-weight: 700;     
  }
  
  .Landing__17 p{
      color:#003B60;
      font-size: 24px;
      line-height: 31px;
  }
  
  /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
           
  .Landing__17 .bg {
      transition: 0.5s;
      display: block;
      font-size: 32px;
      line-height: 35px;
      font-weight: 600;
      text-decoration: none;
     
  }
  
  .Landing__17 a.bg{
      /* margin-top: 30px; */
      padding: 24px 74px;
      color: #092E67; 
      background-image: linear-gradient(to right,#F0E615 0%, #fff203 51%, #F0E615 100%);
      background-size: 180% auto;
      border-radius:  50px 0px 50px 0px;
      display: inline-block;
      transition: .2s;
      font-weight: 600;
    }
  
  .Landing__17 a svg{
      font-size: 32px;
      margin-top: -5px;
      margin-right: 10px;
  }
  
  .Landing__17 a.bg:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
      border-radius:  0px 50px 0px 50px;
  }
   
  .Landing__17_section_gaps{
      margin-top: 100px;
  }
 

  /* ================================================================================================
            Banner
  ===================================================================================================*/

.Landing__17__bg_div{
    background-image: url('../../public/images/landing-17/bg.png');
    padding: 0px 0px 100px 0px;
    background-size:cover;
  }

  .Landing__17__MenuDiv{
      display: flex;
      justify-content: center;
      position: relative;
      
  }

  .Landing__17__MenuMid{
    padding-top: 35px;
    background-color: rgba(229, 229, 229, 0.4);
    width: 200px;
    height: 190px;
    text-align: center;
    border-radius: 0px 0px 100px 100px;
    position: absolute;
    
  }

  .Landing__17__RowPad{
    padding-top: 163px;
  }

  .Landing__17__Banner1{
    position: relative;
  }

  .Landing__17__Banner1 h4{
      top: 18px;
      position: absolute;
      padding: 9px 37px;
      background-color:#E5E5E5 ;
      font-size: 30px;
      line-height: 40px;
      color:#012A4A;
      border-radius: 20px;
      font-weight: 500;
     
  }

  .Landing__17__Banner1 h3{
    font-size: 56px;
    line-height: 74px;
    color:#012A4A;
    font-weight: 900;
    display: flex;
    align-items: center;
  }

  .Landing__17__Banner1 h5{
    font-size: 56px;
    line-height: 74px;
    color:#012A4A;
    font-weight: 900;
    display: flex;
    align-items: center;
  }

  .Landing__17__Banner1 span{
    font-size: 30px;
    line-height: 40px;
    color:#FC8730;
    font-weight: 400;
   text-decoration: line-through;
   margin-left: 10px;
    
  }

  /* ================================================================================================
            Banner
  ===================================================================================================*/



  /* ================================================================================================
            Banner
  ===================================================================================================*/



  /* ================================================================================================
            Banner
  ===================================================================================================*/



  /* ================================================================================================
            Banner
  ===================================================================================================*/



  /* ================================================================================================
            Banner
  ===================================================================================================*/



  /* ================================================================================================
            Banner
  ===================================================================================================*/




  /* ================================================================================================
            Banner
  ===================================================================================================*/




  /* ================================================================================================
            Banner
  ===================================================================================================*/




  /* ================================================================================================
            Banner
  ===================================================================================================*/




  /* ================================================================================================
            Banner
  ===================================================================================================*/




  /* ================================================================================================
            Banner
  ===================================================================================================*/




  /* ================================================================================================
            Banner
  ===================================================================================================*/




  /* ================================================================================================
            Banner
  ===================================================================================================*/




  /* ================================================================================================
            Banner
  ===================================================================================================*/


